/* Inserta tu código aqui */

.caja {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-left:15px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.line {
	width: 60px;
	height: 2px;
	background-color: black;
	margin-left: 90px;
	margin-top: 30px;
}
h3 {
	font-family: Arial;
	margin-left: 90px;
	margin-top: 30px;
}
h5 {
	color: white;
	font-family: Arial;
	font-size: 15px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0px;
}
.abajo, .arriba {
	margin-left: 100px;
}
.primera {
	background-image: url(../img/profile-1.png);
	margin-top: 30px;
}
.segunda {
	background-image: url(../img/profile-2.png);	
	margin-top:30px;
}
.tercera {
	background-image: url(../img/profile-3.png);
	margin-top:30px;
}
.cuarta {
	background-image: url(../img/profile-4.png);
}
.quinta {
	background-image: url(../img/profile-5.png);
}
.sexta {
	background-image: url(../img/profile-6.png);
}




